body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
}

.container {
    max-width: 900px;
    margin: 40px auto;
}

.back {
    color: #0d6efd;
    font-weight: bold;
    text-decoration: none;
}

.card {
    background: #fff;
    border-radius: 14px;
    padding: 25px;
    box-shadow: 0 4px 14px rgba(0,0,0,.08);
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0d6efd;
}

.edit-btn {
    background: #0d6efd;
    color: white;
    padding: 10px 22px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.save-btn {
    background: #198754;
    color: white;
    padding: 10px 22px;
    border-radius: 20px;
    border: none;
}
.cancel-btn {
    background: #6c757d;
    color: white;
    padding: 10px 22px;
    border-radius: 20px;
}
.hidden {
    display: none;
}
